@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <h1 class="display-4">Become a member to get the most out of Tech Blog</h1>
    

    <h4>Still need more information?</h4>
    <div class="started">
        <h2>Welcome to TechNet! TechNet is full of cool stuff including articles, code, forums, samples and blogs. </h2>
        <p>
            To get the most out of TechNet we believe that you should sign in and become a member. It's free and by doing so you gain
            immediate access to interacting on the forums, sharing code samples, publishing articles and commenting on blog posts.
        </p>

        <p>
            Becoming a member also allows our network of sites and applications to record the contributions you make. You can earn
            points based on the quality of your contributions and achievements just for participating. You can review your history
            of activities and statistics on your profile page and start to make yourself known to the community.
        </p>


        <h4>OK, I want to become a member. What do I do?</h4>
        <p>
            See that sign in link above, click that and then choose a display name for your membership. Then customize your
            profile by adding information and choosing your own avatar image. If you don't have a Windows Live ID, go to
            <a href="http://account.live.com" target="_blank">http://account.live.com</a>
            and click Sign Up.
        </p>

        <h4>Can I see an example of a profile?</h4>

        <p>
            Sure, on this page you'll find a list of people who are topping our leaderboards at the moment.
            Hover over any of them and click the View Profile link to see all their details!
        </p>


        <h4>Still need more information?</h4>
        Visit our <a href="http://msdn.microsoft.com/ff395928.aspx" title="FAQ">FAQ</a> to learn more about membership at TechNet!
    </div>
</div>
