@using TechBlog.Core.Models
@using TechBlog.Core.Repository.UnitOfWork
@model Post;
@inject IUnitOfWork unitOfWork
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Post latedPost = unitOfWork.PostRepository.GetLatedPost();

}

<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="@latedPost.Image" alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">@latedPost.PostedOn</div>
        <h2 class="card-title">@latedPost.Title</h2>
        <p class="card-text">@latedPost.ShortDescription</p>
        <a class="btn btn-primary" href="#!">Read more →</a>
    </div>
</div>