<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tech Blog</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>

    <partial name="_MenuLayout.cshtml" />
    <!-- Page header with logo and tagline-->
    <header style="position: relative ;" class="bg-light border-bottom mb-4">
        <img style="width: 100%;height: 40vh;object-fit: cover;object-position: center;" src="https://th.bing.com/th/id/R.bbd9d6d7cfe138ad7ccff57b8e2a73b6?rik=sanBd1jNrM6DWw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2flzFISkc.jpg&ehk=WsC2dxyOTGpVuCq2W3tBrrTPndAPrJpdT7aHYk4Yrxs%3d&risl=&pid=ImgRaw&r=0" />
        <div class="container" style="position: absolute;position: absolute;top: 50%;left: 12%;">
            <div class="text-center">
                <h1 class="fw-bolder">Welcome to TechBlog Home!</h1>
            </div>
        </div>
    </header>
    
    @RenderBody()
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Dang Cong Kien And Pham Phu Son</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
